<div class="two-column-step">
  <div class="step-description">
    <div class="header">制御フロー</div>
    <div class="description">
      Angularの新しい制御フロー構文により、テンプレートがより書きやすく理解しやすくなります。
    </div>

    <button
      class="docs-primary-btn"
      [attr.text]="'制御フローについて詳しく'"
      routerLink="/guide/templates/control-flow"
    >
      制御フローについて詳しく
    </button>
  </div>

  <div class="step-code">
    <div class="code-block">
      <div class="code-header">
        <span>my-template.html</span>
        <span class="copy-icon"></span>
      </div>

      <adev-code-block [code]="Example" language="angular-html" />
    </div>
  </div>
</div>
