<div class="page docs-viewer">
  <h1 class="page-header" tabindex="-1">アップデートガイド</h1>
  <div class="wizard">
    <div>
      <h2>アップデートに一致するオプションを選択してください</h2>

      <h3>Angularバージョン</h3>

      <div class="adev-version-selector">
        <span class="adev-template-select">
          v.

          <button [cdkMenuTriggerFor]="templatesMenuFrom">
            <span>{{ from.name }}</span>
            <docs-icon>expand_more</docs-icon>
          </button>

          <ng-template #templatesMenuFrom>
            <ul class="adev-template-dropdown" cdkMenu>
              @for (version of versions; track $index) {
                <li>
                  <button cdkMenuItem type="button" (click)="from=version; showUpdatePath()">
                    <span>{{ version.name }}</span>
                  </button>
                </li>
              }
            </ul>
          </ng-template>
        </span>

        <span>
          <span class="adev-template-select">
            から v.
            <button [cdkMenuTriggerFor]="templatesMenuTo">
              <span>{{ to.name }}</span>
              <docs-icon>expand_more</docs-icon>
            </button>

            <ng-template #templatesMenuTo>
              <ul class="adev-template-dropdown" cdkMenu>
                @for (version of versions; track $index) {
                  <li>
                    <button cdkMenuItem type="button" (click)="to=version; showUpdatePath()">
                      <span>{{ version.name }}</span>
                    </button>
                  </li>
                }
              </ul>
            </ng-template>
          </span>
        </span>
      </div>

      @if (from.number >= futureVersion || to.number >= futureVersion) {
        <div class="docs-alert docs-alert-critical">
          <p>
            <strong>警告:</strong>
            現在のメジャーリリース以降のリリースの計画は確定しておらず、変更される可能性があります。
            これらの推奨事項は、予定されている非推奨化に基づいています。
          </p>
        </div>
      }

      @if (from.number > to.number) {
        <div class="docs-alert docs-alert-critical">
          <p>
            <strong>警告:</strong>
            Angularのバージョンダウングレードはサポートされていません。
          </p>
        </div>
      }

      @if ((to.number - from.number > 150) && from.number > 240) {
        <div class="docs-alert docs-alert-critical">
          <p>
            <strong>警告:</strong>
            以下のガイドに従ってアプリケーションを新しいバージョンに移行してください。
            <code>ng update</code>
            を使用して、
            Angularアプリケーションを一度に複数のメジャーバージョンをアップデートすることはできません。
          </p>
        </div>
      }

      <h3>アプリケーションの複雑さ</h3>
      <mat-button-toggle-group
        (change)="level = $event.value;"
        [value]="level"
        style="margin-bottom:16px;"
      >
        <mat-button-toggle [value]="1">基本</mat-button-toggle>
        <mat-button-toggle [value]="2">中級</mat-button-toggle>
        <mat-button-toggle [value]="3">上級</mat-button-toggle>
      </mat-button-toggle-group>
      @if (level === 1) {
        <p>すべてのAngular開発者向けの情報を表示します。</p>
      } @else if (level === 2) {
        <p>より上級のAngular開発者向けの情報を表示します。</p>
      } @else if (level === 3) {
        <p>このアップデートに関するすべての情報を表示します。</p>
      }

      <h3>その他の依存関係</h3>
      @for (option of optionList; track $index) {
        <div>
          <mat-checkbox
            (change)="options[option.id] = $event.checked; showUpdatePath()"
            [checked]="options[option.id]"
            >{{option.name}} {{option.description}}を使用しています</mat-checkbox
          >
        </div>
      }

      @if (from.number < 600) {
        <h4>パッケージマネージャー</h4>
        <mat-button-toggle-group
          (change)="packageManager = $event.value; showUpdatePath()"
          [value]="packageManager"
        >
          <mat-button-toggle value="npm install">npm</mat-button-toggle>
          <mat-button-toggle value="yarn add">yarn</mat-button-toggle>
        </mat-button-toggle-group>
      }

      <button
        type="button"
        (click)="showUpdatePath()"
        class="docs-primary-btn show-button"
        [attr.text]="'アップデート方法を表示！'"
      >
        アップデート方法を表示！
      </button>
    </div>
  </div>

  <hr />
  <!-- RECOMMENDATIONS SECTION -->

  @if (
    beforeRecommendations.length > 0 || duringRecommendations.length > 0 || afterRecommendations.length > 0
  ) {
    <div class="recommendations">
      <h2>{{title}}</h2>

      <h3>アップデート前</h3>
      @for (r  of beforeRecommendations; track $index) {
        <div class="adev-recommentation-item">
          <mat-checkbox></mat-checkbox>
          <div [innerHTML]="r.renderedStep"></div>
        </div>
      }
      @if (beforeRecommendations.length <= 0) {
        <div>
          <em>バージョン移行する前に、何もする必要はありません。</em>
        </div>
      }

      <h3>新しいバージョンにアップデートする</h3>
      @if (duringRecommendations.length > 0) {
        <div>
          <em>これらの変更を確認し、アプリケーションをアップデートするための操作を実行してください。</em>
        </div>
      }

      @for (r of duringRecommendations; track $index) {
        <div class="adev-recommentation-item">
          <mat-checkbox></mat-checkbox>
          <div [innerHTML]="r.renderedStep"></div>
        </div>
      }
      @if (duringRecommendations.length <= 0) {
        <div>
          <em>バージョン移行するための推奨事項はありません。</em>
        </div>
      }

      <h3>アップデート後</h3>
      @for (r of afterRecommendations; track $index) {
        <div class="adev-recommentation-item">
          <mat-checkbox></mat-checkbox>
          <div [innerHTML]="r.renderedStep"></div>
        </div>
      }
      @if (afterRecommendations.length <= 0) {
        <div>
          <em>バージョン移行した後、何もする必要はありません。</em>
        </div>
      }
    </div>
  }
</div>
