# This workflow builds the previews for pull requests when a certain label is applied.
# The actual deployment happens as part of a dedicated second workflow to avoid security
# issues where the building would otherwise occur in an authorized context where secrets
# could be leaked. More details can be found here:

# https://securitylab.github.com/research/github-actions-preventing-pwn-requests/.

name: Build adev for preview deployment

on:
  pull_request:
    types: [synchronize, labeled]

permissions: read-all

jobs:
  adev-build:
    runs-on: ubuntu-latest
    if: |
      (github.event.action == 'labeled' && github.event.label.name == 'adev: preview') ||
      (github.event.action == 'synchronize' && contains(github.event.pull_request.labels.*.name, 'adev: preview'))
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          submodules: true
      - name: setup pnpm
        uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # 4.1.0
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version-file: '.node-version'
          cache: pnpm
      - uses: bazel-contrib/setup-bazel@4fd964a13a440a8aeb0be47350db2fc640f19ca8 # 0.15.0
        with:
          bazelisk-cache: false
          disk-cache: false
          repository-cache: false
          bazelrc: |
            # Print all the options that apply to the build.
            # This helps us diagnose which options override others
            # (e.g. /etc/bazel.bazelrc vs. tools/bazel.rc)
            build --announce_rc

            # More details on failures
            build --verbose_failures=true

            # CI supports colors but Bazel does not detect it.
            common --color=yes
      - run: pnpm install --frozen-lockfile
      - run: pnpm run build
      - uses: angular/dev-infra/github-actions/previews/pack-and-upload-artifact@01c8c16f830d02110c28640aea16f145a7937080
        with:
          workflow-artifact-name: 'adev-preview'
          pull-number: '${{ github.event.pull_request.number }}'
          artifact-build-revision: '${{github.event.pull_request.head.sha}}'
          deploy-directory: './build/dist/bin/adev/dist/browser'
